
html {
    font-size: 12px;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
  }
  
  header {
    height: 100vh;
  }
  
  #nav-bar {
    margin-right: 10px;
    position: fixed;
    top: 0;
    background-color: rgb(159, 198, 20);
    padding-bottom: 40px;
    width: 100%;
    z-index: 1;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  
  img {
    max-width: 65px;
    border-radius: 70px;
    top: 5px;
   
  }
  
  .img {
    position: absolute;
    
    left: 10px; 
    max-width: 80px;
    border-radius: 50%; 
   
}

  
.nav-link {
    font-size: 2rem;
    padding-right: 10px;
    padding-top: 18px;
    margin-bottom: -15px; /* Adjust as needed */
    margin-left: 5%; /* Adjust as needed */
    color: rgb(255, 0, 0) !important;
}

.nav-link:not(:last-child) {
    margin-right: 10px; 
}


  
  li {
    list-style: none;
    height: 15px;
  }
  
  a:hover {
    color: rgb(69,154,211);
  }
  
  a {
    text-decoration: none;
    color: #344b51;
  }
  
  .navbar-icon-toggle {
    display: none;
  }
  
  .hero {
    background-image: url('images/background.jpeg');
    background-size: cover;
    background-color: #7887a0;
    background-blend-mode: multiply;
    height: 100vh;
    position: relative;
  }
  
  .intro {
    position: absolute;
    top: 25%;
  }
  
  #boost {
    font-family: 'Vladimir Script', cursive;
    font-weight: bolder;
    font-size: 9rem;
    color: rgb(194, 211, 69);
  }
  
  .intro h1 {
    color: white;
    font-size: 6rem;
    margin: 0;
    padding: 0px 80px 20px;
    text-align: center;
  }
  
  .intro p {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    padding: 0px 100px 40px;
    display: block;
    width: 60%;
  }
  
  button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: white;
    background-color: rgb(69, 154, 211);
    border-radius: 15px;
    height: 55px;
    width: 220px;
    border-style: none;
    position: relative;
    margin: 0 auto; 
    display: block; 
}

  
  button:hover {
    cursor: pointer;
    background-color: #16659e;
  }
  
  .how {
    text-align: center;
    color: #344b51;
    font-size: 25px;
    font-weight: lighter;
  }
  
  .container {
     display: flex;
     padding-top: 2%;
  }
  
  .container > div {
    flex:1;
  }
  
.bx-laptop, .bxl-linkedin-square, .fa-github {
    font-size: 70px;
}
.bx-laptop:hover,
.bxl-linkedin-square:hover,
.fa-github:hover {
    transform: scale(1.5); /* Increase the size on hover */
    transition: transform 0.3s ease; /* Smooth transition */
}

  .info {
    color: #344b51;
    font-size: 80%;
  }
  
  .item {
    font-size: 90%;
    margin-bottom: -4%;
  }
  
  .contact {
    background-color: #dae3f2;
    color: #344b51;
  }
  
  .intouch {
    font-size: 140%;
    text-align: center;
    padding-top: 3%;
  }
  
  .contact-form {
    padding-bottom: 2%;
    width: auto;
  }
  
  table {
    margin: auto;
    width: auto;
  }
  
  input {
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 20px;
  }
  
  td {
    padding-right: 20px;
    width: auto;
    vertical-align: top;
    padding-bottom: 20px;
    font-size: 80%;
  }
  
  #tlabel {
    text-align: right;
  }
  
  #tanswer {
    text-align: left;
    border-radius: 4px;
    border-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    width: 250px;
    font-weight: lighter;
  }
  
  #tanswer input, #tanswer {
    padding-left: 5px;
  }
  
  #submit {
    width: 80px;
    height: 30px;
    font-size: 70%;
    position: relative;
    right: 40px;
  }
  
  h4 {
    color: #344b51;
    text-align: center;
    font-size: 70%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  /*small laptops*/
  
  @media only screen and  (max-width: 850px) {
    .nav-link {
      padding-right: 30px;
      padding-left: 10px;
      font-size: 1.4rem;
    }
  
    .container {
      padding: 0px 20px;
    }
  
  }
  
  /*tablets*/
  
  @media only screen and (max-width: 768px) {
    html {
      font-size: 8px;
    }
  
    .intro {
      top: 25%;
    }
  
  
    .nav {
      flex-direction: column;
    }
  
    .nav-link {
      visibility: hidden;
      margin-left: 0;
      transition: all 0.5s ease-in;
    }
  
    .navbar-icon-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
      right: 30px;
      top: 20px;
    }
  
    .show {
      display: flex;
      visibility: visible;
      font-size: 20px;
      padding-top: 50px;
      padding-left: 5px;
      padding-bottom: 15px;
      transition: all 0.5s ease-out;
    }
  
    li {
      height: 1px;
    }
  
    img {
      max-width: 100px;
    }
  
    button {
      font-size: 22px;
      height: 50px;
      width: 200px;
    }
  
    h2 {
      font-size: 22px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  
    .fa-desktop, .fa-microphone, .fa-facebook-f {
      font-size: 60px;
    }
  
    .item {
      font-size: 70%;
    }
  
    .info {
      font-size: 60%;
    }
  
    .intouch {
      font-size: 22px;
      padding-top: 20px;
    }
  
    td {
      font-size: 65%;
    }
  
    #tanswer {
      font-size: 12px;
    }
  
    input {
      font-size: 11px;
    }
  
    #submit {
      width: 70px;
      height: 25px;
      font-size: 60%;
      right: 55px;
    }
  }
  
  /*phones*/
  
  @media only screen and (max-width: 500px) {
    html {
      font-size: 6px;
    }
  
    img {
      max-width: 100px;
    }
  
    .intro h1 {
      padding: 0px 40px;
    }
  
    .intro p {
      padding: 20px 40px;
      margin-bottom: 40px;
    }
  
    p {
      padding-bottom: 60px;
    }
  
    button {
      font-size: 17px;
      height: 40px;
      width: 180px;
      top: -40px;
    }
  
    .container {
      flex-direction: column;
      padding-right: 25px;
      padding-left: 25px;
    }
  
      h2 {
       font-size: 20px;
       padding-bottom: 20px;
       padding-top: 20px;
      }
  
     .fa-desktop, .fa-microphone, .fa-facebook-f {
        font-size: 50px;
      }
  
      .fa-bars {
        font-size: 12px;
      }
  
     .item {
         font-size: 70%;
         padding-bottom: 15px;
       }
  
     .info {
         font-size: 60%;
         margin-bottom: -15px;
       }
  
     .intouch {
         font-size: 20px;
         padding-top: 20px;
       }
  
    td {
        font-size: 55%;
      }
  
    #tanswer {
        font-size: 11px;
      }
  
    input {
        font-size: 10px;
      }
  
    #submit {
        width: 65px;
        height: 22px;
        font-size: 57%;
        right: 60px;
          margin-top: 30px;
      }
  }
  
  @media (max-width: 380px) {
    tr {
      display: flex;
      flex-direction: column;
    }
  
    #tlabel {
      text-align: left;
      padding-bottom: 10px;
    }
  
    #submit {
      left: -105px;
    }
  }
  @media screen and (max-width: 768px) {
    .img {
        top: 2px;
        left: 2px;
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 576px) {
    .img {
        top: 4px; /* Adjust top position for even smaller screens */
        left: 10px; /* Adjust left position for even smaller screens */

    }
}

/* Media query for larger screens */
@media screen and (min-width: 1200px) {
    .img {
        top: 0; 
        left: 20px; 
    }
}